html {
    font-size: 15px;
    font-family: Gotham Medium, sans-serif;
}

body{
    display: flex;
    margin: 0;
    background-color: rgba(175, 172, 172, 0.13);
}

a{
    color: black;
}

#sidebar{
    background-color: rgba(160, 159, 159,0.7);
    width: 12.5%;
    padding: 0.3% 1.15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 9px;
    border-radius: 17px;
    box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.74);
}

#start_view{
    text-align: center;
    color: rgba(128, 128, 128, 0.85);
}

#start_view img{
    position: relative;
    bottom: -3px;
    opacity: 40%;
    width: 1.05vw;
    height: 17px;
    width: 17px;
}

#img_blog{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 7%;
}

.icon_list{
    margin-right: 3.5%;
    width: 14%;
    height: 14%;
}

.option{
    width: 92%;
    margin-bottom: 5%;
    display: flex;
    padding: 4.2%;
    flex-direction: row;
    align-items: center;
    border-radius: 8.5px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(211, 211, 211);
}

.option:active{
    background-color: rgba(66, 65, 65, 0.25);
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

#side_down{
    border-top: 1px solid grey;
    padding: 6% 0 0 0;
}

/* Modale */
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 10;
}
#modal_content{
    width: 66%;
    height: 75%;
    background-color: rgba(7, 7, 7, 0.98);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none !important;
}

#upper_modal{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 1%;
    justify-content: space-between;
}

#close_modal{
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
}

#close_modal button{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    left:0;
    margin-right: 1%;
}

#close_modal text{
    font-size: 18px;
}

#close_modal svg{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#continue_button, #back_button{
    background-color: rgba(255, 255, 255, 0.86);
    color: black;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 15px;
}
#back_button{
    background-color: rgba(255, 255, 255, 0.73);
    padding: 7px 12px;
    margin: 1.5px 6px 0 0;
}

#continue_button:hover{
    transform: scale(1.04);
    opacity: 0.9;
    background-color: white;
}

#back_button:hover{
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.84);
}

#search_song{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8%;
    margin: 10px 0;
}

#search_song svg{
    cursor: pointer;
}

#search_song input[type=text], #search_song textarea{
    width: 60%;
    padding: 7px;
    border-radius: 6px;
    font-size: 17.5px;
    background:rgba(160, 159, 159,0.3);
    box-shadow: none;
    border-color: rgba(128, 128, 128, 0.664);
    color: rgb(177, 177, 177);
}

#search_song textarea{
    width: 92%;
    margin-bottom: 6px;
}

#search_song input[type=text]:focus, #search_song textarea:focus {
    border: 2px solid rgb(177, 177, 177);
    outline-width: 0;
}

#search_song input[type=submit] {
    display: none;
}

#insertName{
    height: 25%;
}

#insertCaption{
    height: 70%;
}

#propSongs, #searchedSongs{
    width: 100%;
    height: 84%;
    overflow: auto;
}

.proposal{
    border-radius: 15px;
    display: flex;
    height: 90px;
    align-items: center;
}

.proposal input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-left: 1%;
    margin-right: 2.3%;
    background-color: white;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer !important;
}

.proposal input[type="checkbox"]:checked {
    background-color: rgb(121, 121, 121);
    border: 3.5px solid white;
}

.prop{
    width: 93%;
}

#propSongs::-webkit-scrollbar, #searchedSongs::-webkit-scrollbar{
    width: 6px;
}
 
#propSongs::-webkit-scrollbar-track, #searchedSongs::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 25px;
 
}
 
#propSongs::-webkit-scrollbar-thumb, #searchedSongs::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.5);
 }
#propSongs::-webkit-scrollbar-thumb:window-inactive ,#searchedSongs::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(192, 192, 192, 0.4);
}

.loading {
    margin: 30px auto 0 auto !important;
    width: auto !important;
    opacity: 1 !important;
    display: block;
}

.chosenSong{
    height: 90px;
    display: flex;
    align-items: center;
}

.chosenSong iframe{
    width: 96%;
}

.chosenSong img{
    cursor: pointer;
    width: 3%;
    padding-left: 0.8%;
}

.chosenSong img:hover{
    transform: scale(1.08); 
}

.success-animation { margin:150px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

/* Sidebar Mobile */

#sidebar_mobile{
    position: fixed;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: rgb(185, 185, 185);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.imgOptionMobile{
    width: 50%;
    height: 100%;
    margin: 0 4vw;
    cursor: pointer;
}

#sidebar_mobile article, #sidebar_mobile a{
    height: 35px;
    display: inline;
}

/* Media */
@media(max-width: 865px){
    #sidebar{
        width: 22%;
    }

    .chosenSong img{
        width: 6%;
    }

    .chosenSong iframe{
        width: 93%;
    }

    .getUser{
        margin: 1% !important;
        width: 46% !important;
    }

    .getUser p{
        font-size: 90%;
    }
}

@media(max-width: 600px){
    html{
        font-size: 14px;
    }

    body{
        justify-content: center;
    }

    #sidebar{
        display: none;
    }

    #sidebar_mobile{
        display: flex;
    }

    #modal_content{
        width: 84%;
    }

    #insertName{
        height: 43%;
    }

    #upperModal{
        margin-bottom: 3%;
    }

}